{% extends "main/base.html" %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header bg-primary text-white">
          <h1 class="h1-form mb-0">Contribute to our Database</h1>
        </div>
        <div class="card-body">
          <form method="post" action='#'>
            {% csrf_token %}
            <div class="mb-3">
              <label for="autoSizingSelect" class="form-label">Category</label>
              <select class="form-select" id="autoSizingSelect" name="category" required>
                <option selected disabled>Choose a category...</option>
                <option value="Arts & Literature">Arts & Literature</option>
                <option value="Mathematics">Mathematics</option>
                <option value="Science">Science</option>
                <option value="Geography">Geography</option>
                <option value="History">History</option>
                <option value="Technology">Technology</option>
                <option value="Music">Music</option>
                <option value="Sports">Sports</option>
                <option value="Entertainment">Entertainment</option>
                <option value="Food">Food</option>
                <option value="Others">Others</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="formGroupExampleInput" class="form-label">Question</label>
              <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter your question" name="question" autocomplete="off" required>
            </div>
            <div class="mb-3">
              <label for="formGroupExampleInput2" class="form-label">Answer</label>
              <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Enter the answer" name="answer" autocomplete="off" required>
            </div>
            <button type="submit" name="save" value="save" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

